{
  // @babel/preset-env -> Converte o código da melhor forma possível
  // para trabalhar em diversos ambientes
  "presets": ["@babel/preset-env"],
  "plugins" : [
              "@babel/plugin-proposal-object-rest-spread",
              "@babel/plugin-transform-async-to-generator"]
}